/* header.module.css */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.discussion, .market {
  border: 1px solid whitesmoke;
  color: wheat;
  padding: 1px;
 
  text-align: center;
  background-color: rgb(27, 27, 72);
}

.discussion:hover, .market:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  transition: background-color 0.3s ease;
}
